@import "tailwindcss";
@import "./fonts/inter/inter.css" layer(base);

@plugin "./daisyui.js";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Import theme files */
@import "./themes/light.css";
@import "./themes/dark.css";

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter", ui-sans-serif, system-ui;
    font-optical-sizing: auto;
  }
}

/* Prevent FOIT by hiding content until theme is ready */
html:not([data-theme]) {
  visibility: hidden;
}

/* Global custom values */
:root {
  --font: "Inter", ui-sans-serif, system-ui;
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

@layer base {
  /* TW4 border fix since border now uses currentColor */
  [data-theme="light"] :is(*, ::after, ::before, ::backdrop, ::file-selector-button) {
    border-color: var(--color-gray-200, currentColor);
  }

  [data-theme="dark"] :is(*, ::after, ::before, ::backdrop, ::file-selector-button) {
    border-color: var(--color-gray-700, currentColor);
  }

  /* General */
  .btn.btn-disabled {
    opacity: 0.5;
  }
}

@layer components {
  [x-cloak] {
    @apply !hidden;
  }
  .fieldset-legend {
    @apply !text-sm !font-normal !text-inherit;
  }
  .text-error {
    @apply [&:empty]:hidden;
  }
  .input {
    &:user-valid,
    &:has(:user-valid) {
      &,
      &:focus,
      &:checked,
      &[aria-checked="true"],
      &:focus-within {
        --input-color: var(--color-primary) !important;
      }
    }
  }
}

/* Login specific utilities */
@utility title {
  @apply text-2xl leading-8 font-medium tracking-[-1px];
}

@utility primary-link {
  @apply text-primary/90 hover:text-primary;
}

/* Input styles to prevent line/text cutoff in Edge and Opera */
@utility input {
  @apply ring-0;
  height: 2.5rem; /* 40px */
  min-height: unset;
  &:focus {
    @apply ring-0;
  }
}

/* loading spinner related classes to swap btn text with spinner */
@utility spinner {
  @apply hidden;
  .htmx-request & {
    @apply inline;
  }
  &.htmx-request {
    @apply inline;
  }
  &.htmx-request ~ .button-text {
    @apply hidden;
  }
}

@utility htmx-request {
  & .spinner {
    @apply inline;
  }
  &.spinner {
    @apply inline;
  }
  &.spinner ~ .button-text {
    @apply hidden;
  }
}

@utility button-text {
  .htmx-request.spinner ~ & {
    @apply hidden;
  }
}

@utility border-default {
  /* Default border color in general */
  @apply border-gray-200;
  &:disabled {
    opacity: 0.5;
  }
}