<div class="w-screen h-screen flex justify-center items-center">
  <div class="bg-white rounded-lg p-6">
    <h1 class="font-bold text-4xl">Super Admins</h1>
    <div class="flex justify-between">
      <%= link_to "Add Admin", new_admin_path, class:"btn" %>
      <button class="btn">Delete</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>
            First name
          </th>
          <th>
            Last name
          </th>
          <th>
            Email address
          </th>
        </tr>
      </thead>
        <% @admins.each do |admin| %>
          <div class="list-row">
            <% admin.first_name %>
            <%= admin.last_name %>
            <%= admin.email %>
          </div>
        <% end %>
    </table>
    <div class="flex justify-between">
      <button class="btn">Back</button>
      <button class="btn">Finish</button>
    </div>
  </div>
</div>
